<!DOCTYPE html>
<html lang="en" class="h-screen [scrollbar-gutter:stable]">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="csrf-token" content={get_csrf_token()} />
  <.live_title suffix=" · Phoenix Framework">
    <%= assigns[:page_title] || "Demo" %>
  </.live_title>
  <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
  <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
  </script>
</head>

<body class="bg-white h-screen flex justify-center items-center relative">
  <div class="blurred-bg"></div>
  <div class="max-w-md w-full mx-auto bg-white rounded-xl shadow-md">
    <ul class="flex gap-1 p-3 justify-between flex">
      <%= if @current_user do %>
        <li class="mr-4">
          <span class="text-zinc-900">
            <%= @current_user.email %>
          </span>
        </li>
        <li>
          <.link href={~p"/users/settings"} class="text-zinc-900 font-semibold hover:text-zinc-700">
            Settings
          </.link>
        </li>
        <li>
          <.link href={~p"/users/log_out"} method="delete" class="text-zinc-900 font-semibold hover:text-zinc-900">
            Log out
          </.link>
        </li>
        <% else %>
          <li>
            <.link href={~p"/users/register"} class="text-zinc-900 font-semibold hover:text-orange-400">
              Register
            </.link>
          </li>
          <li>
            <.link href={~p"/users/log_in"} class="text-zinc-900 font-semibold hover:text-orange-400">
              Log in
            </.link>
          </li>
        <% end %>
    </ul>
    <%= @inner_content %>
  </div>
</body>

</html>